@import "movieslist";
@import "moviedetail";
@import "movie-item";

body, html, .container-fluid, .container-fluid > .row {
  height: 638.5px;
  padding:0 !important;
  margin:0 !important;
  overflow:hidden;
}

.container-fluid > .row{
  border-bottom: 1px solid $grey;
}
